body{
  background-color: #040b14;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

.header.show{
  left: 0;
}

.header.hide{
  left: -300px;
}

.header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

.header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.header .profile h1 a, .header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

.header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a svg {
  font-size: 20px;
  color: #6f7180;
  transition: .3s;
}

.nav-menu a span {
  /*margin-left: 4px;*/
}

.nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover svg, .nav-menu .active > svg, .nav-menu li:hover > a svg {
  color: #149ddd;
}


#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}


/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle svg {
  color: #149ddd;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle svg {
  color: #fff;
}


.ico_page{
  width: 100%;
  display: inline-block;
  padding-left: 10px;
}

/*Start Spinner Loading*/
.spinner{
  margin: 40vh auto;
  margin-right: 15vw;
  text-align: center;
  position: relative;
}

@media (min-width: 768px) {
  .spinner{
    margin-right: 10vw;
  }
}

@media (min-width: 1400px) {
  .spinner{
    margin-right: 0vw;
  }
}

.spinner .circle{
  border-radius: 50%;
  border: 3px solid transparent;
  animation:  rotate 3s linear infinite;
  position: absolute;
}

.spinner .circle.one{
  width:50px ;
  height:50px ;
  top: 50px;
  left: 50%;
  border-top-color:#fff116;
  animation-duration: .5s
}

.spinner .circle.tow{
  width:75px ;
  height:75px ;
  top: 38px;
  left: 49%;
  border-top-color:#fff456;
  animation-duration: .75s
}

.spinner .circle.three{
  width:100px ;
  height:100px ;
  top: 25px;
  left: 48%;
  border-top-color:#fff;
  animation-duration: 1s
}

@keyframes rotate {
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(360deg);
  }
}

/*End Spinner Loading*/

/* Mobile Navigation */
.scrollToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 15px;
  top: 90vh;
  z-index: 9998;
  border: 0;
  background:  #149ddd;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.scrollToTop.show{
  opacity: 1;
}

.scrollToTop.hide{
  opacity: 0;
}

.scrollToTop svg {
  color: #fff;
}